<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qait.actions.Board"/>
      <class name="com.qait.actions.DashBoard"/>
      <class name="com.qait.actions.Time"/>
      <class name="com.qait.actions.Leave"/>
      <class name="com.qait.utility.Initiator"/>
      <class name="com.qait.actions.Login"/>
      <class name="com.qait.actions.SideNav"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
